<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Attendance System
        link(rel="stylesheet", href="./stylesheets/main.css")
        block scripts
            //- script(src="")
    body
        block header
            nav
                a.logo(href="/") Attendance System
                ul
                    if (!user)
                        li
                            a(href="/login") Login
                        li
                            a(href="/register") Register
                    if (user)
                        li 
                            a(href="") Welcome #{user.fullname}
                        li
                            a(href="/logout") Logout

        block content
        block footer