extends layout

block content
    .container
        form.form-login(role="form", action="/login", method="post")
            label.sr-only(for="username") username
            input.form-control(type="text", name="username", id="username", placeholder="username", required, autofocus)
            label.sr-only(for="password") Password
            input.form-control(type="password", name="password", id="password", placeholder="Password", required, autofocus)
            button.btn.btn-lg.btn-primary(type="submit") Login
