extends layout

block content
    .container
        form.form-register(role="form", action="/register", method="post")
            label.sr-only(for="username") Username
            input.form-control(type="text", name="username", id="username", placeholder="Username", required, autofocus)
            br
            label.sr-only(for="email") Email
            input.form-control(type="text", name="email", id="email", placeholder="Email", required, autofocus)
            br
            label.sr-only(for="fullname") Fullname
            input.form-control(type="text", name="fullname", id="fullname", placeholder="Fullname", required, autofocus)
            br
            label.sr-only(for="password") Password
            input.form-control(type="password", name="password", id="password", placeholder="Password", required, autofocus)
            br
            label.sr-only(for="password2") Confirm Password
            input.form-control(type="password", name="password2", id="password2", placeholder="Password", required, autofocus)
            br
            label.sr-only(for="branch") Branch
            select(name="branch" required)
                each i in ['computer', 'it', 'extc']
                    option(value=i) #{i}
            br
            label.sr-only(for="post_description") Post
            input.form-control(type="text", name="post_description", id="post_description", placeholder="Post", required, autofocus)
            br
            label.sr-only(for="address_description") Address
            textarea(name="address_description", id="address_description" cols="30", rows="10" required).form-control
            br
            label.sr-only(for="mobile_number") Mobile Number
            input.form-control(type="text", name="mobile_number", id="mobile_number" required)
            br
            label.sr-only(for="photograph") Photograph URL
            input.form-control(type="text", name="photograph", id="photograph" )
            br
            button.btn.btn-lg.btn-primary(type="submit") Register